#==================#
#     OS Files     #
#==================#
*.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes


#===================#
#     IDE Files     #
#===================#
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.komodoproject
*.codekit3


#===================================#
#    Log, map files, secret .env    #
#===================================#
*.log
*.log.*
error_log
access_log
logs/**/*.out
.sass-cache
*.css.map
*.js.map
*.LICENSE
*.lck


#=============================#
#    Config, secrets, .env    #
#=============================#
.env
.env.*override
.env.*secret
/config/ssl/
!/config/ssl/readme.txt
iac/terraform/public_keys/*
!iac/terraform/public_keys/.gitkeep


#=============================#
#          Terraform          #
#=============================#
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.lock.hcl


#===================================#
#       Vendor and npm Files        #
#===================================#
node_modules
vendor
modules
# If we are using custom dependency we should run composer update everywhere
# to update to last changes without lock file
#composer.lock
# Same for npm, if we need to use last version of custom package, we shoul ignore lock
#package-lock.json
#mix-manifest.json


#===================================#
#       WordPress Core Files        #
#===================================#
/web/wp-core


#===================================#
#          Content Files            #
#===================================#
/web/wp-content/*

# tmp folder
tmp/


#===================================#
#          Database Files           #
#===================================#
/db-data
*.sql


#===================================#
#          Backup Files           #
#===================================#
/backups

