#==================#
#     OS Files     #
#==================#
*.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes


#===================#
#     IDE Files     #
#===================#
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.komodoproject
*.codekit3


#===================================#
#    Log, map files, secret .env    #
#===================================#
*.log
error_log
access_log
logs/**/*.out
.sass-cache
*.css.map
*.js.map
*.LICENSE
*.lck


#=============================#
#    Config, secrets, .env    #
#=============================#
.env
.env.*override
.env.*secret
/config/nginx/ssl/*.key
/config/nginx/ssl/*.crt
.terraform
*.tfstate
*.tfstate.*
*.lock.hcl
secret.auto.tfvars
secret.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
iasc/public_keys

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc


#===================================#
#       Vendor and npm Files        #
#===================================#
node_modules
vendor
# If we are using custom dependency we should run composer update everywhere
# to update to last changes without lock file
composer.lock
# Same for npm, if we need to use last version of custom package, we shoul ignore lock
#package-lock.json
#mix-manifest.json


#===================================#
#       WordPress Core Files        #
#===================================#
/app/wp-core

#===================================#
#          Content Files            #
#===================================#
/app/wp-content/*
!/app/wp-content/index.php


#===================================#
#          Database Files           #
#===================================#
/db-data
*.sql


#===================================#
#          Backup Files           #
#===================================#
/backups

