#################################################################################
##                                                                              #
##    GIT IGNORE FOR WORDPRESS SITES                                            #
##    ------------------------------                                            #
##    Adapted from: http://bigwilliam.com/gitignore-for-wordpress-projects/     #
##    and https://github.com/github/gitignore/blob/master/WordPress.gitignore   #
##                                                                              #
#################################################################################

#################################################################################
##                                                                              #
##         NOTE: TO STOP TRACKING A FILE AFTER IGNORING IT,                     #
##               USE THESE GIT COMMANDS:                                        #
##                                                                              #
##               git rm --cached <file>                                         #
##               git add . # or git add <file>                                  #
##                                                                              #
#################################################################################


## OS and Utility Stuff ##

#==================#
#     OS Files     #
#==================#
*.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes


#===================#
#     IDE Files     #
#===================#
.idea
*.sublime-project
*.sublime-workspace
*.komodoproject
*.codekit3


#===============================#
#     Log, map files, .env      #
#===============================#
*.log
error_log
access_log
.sass-cache
*.css.map
*.js.map
*.LICENSE
.env


## Vendor, Libs and Content ##

#===================================#
#       Vendor and npm Files        #
#===================================#
node_modules
/web/app/themes/*/vendor


#===================================#
#       WordPress Core Files        #
#===================================#
/web/wordpress-core


#===================================#
#          Content Files            #
#===================================#
#/web/app/ folder is wp-content
/web/app/*
!/web/app/mu-plugins/
!/web/app/plugins/
!/web/app/themes/
!/web/app/uploads/
/web/app/uploads/*
#languages should be exluded too


#======================================#
#      Default Themes and Plugins      #
#======================================#
/web/app/themes/twenty*/
/web/app/plugins/hello.php

#=============================================================#
#       Compiled code. It should not always be tracked.       #
#=============================================================#
#/web/app/themes/*/dist


## Use these to get more specific ##

#===========================#
#      Specific Plugins     #
#===========================#
/web/app/themes/*/build/browser-sync.config.js

