name: Deploy to Develop

on:
  push:
    branches:
      - develop
  workflow_dispatch: {}

jobs:
  deploy-to-dev:
    uses: ./.github/workflows/job-deploy.yml
    secrets:
      SSH_KEY: ${{ secrets.SSH_KEY }}
      SSH_CONFIG: ${{ secrets.SSH_CONFIG }}
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
    with:
      SSH_HOST_ALIAS: develop.starter-kit.io
      DEPLOY_PATH_DESTINATION: /srv/develop.starter-kit.io
      DEPLOYMENT_NAME: "StarterKit push to develop"
      ENVIRONMENT_TYPE: dev
