name: Deploy to Production

on:
  workflow_dispatch: {}

jobs:
  deploy-to-prod:
    uses: ./.github/workflows/job-deploy.yml
    secrets:
      SSH_KEY: ${{ secrets.SSH_KEY }}
      SSH_CONFIG: ${{ secrets.SSH_CONFIG }}
      ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
    with:
      SSH_HOST_ALIAS: starter-kit.io
      DEPLOY_PATH_DESTINATION: /srv/starter-kit.io
      DEPLOYMENT_NAME: "StarterKit push to production"
      ENVIRONMENT_TYPE: prod
